/* colors - see style guide for docs 
clearly there is more you could place in variables */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 3.375rem;
    margin-left: 100px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* figure and figure caption styling */

figure {
    padding: 0;
    margin: 0;
    border: 5px solid var(--color8);
    border-radius: 5px;
}

figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.875rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

figcaption a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color1);
}

figcaption a:hover {
    color: var(--color8);
}

@media (min-width: 550px) {}

@media (min-width: 800px) {}