/* colors - see style guide for docs.
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
    text-align: center;
}


/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
    padding: 0;
    margin: 0;
}

li {
    flex-basis: 100%;
}

figure {
    margin: 0;
    margin-bottom: 10px;
    position: relative;
}

li:nth-child(1) figure {
    border: 0.5rem solid var(--color7);
}

li:nth-child(2) figure {
    border: 0.5rem solid var(--color2);
}

li:nth-child(3) figure {
    border: 0.5rem solid var(--color6);
}

li:nth-child(4) figure {
    border: 0.5rem solid var(--color8);
}

li:nth-child(5) figure {
    border: 0.5rem solid var(--color4);
}

li:nth-child(6) figure {
    border: 0.5rem solid var(--color3);
}

figcaption {
    background-color: #dde1e2;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    width: 100%;
    opacity: 0.7;
}

a {
    color: var(--color1);
    text-decoration: none;
    font-size: 2rem;
}

img {
    display: block;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: 0 -60px;
}


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {
    li {
        flex-basis: 49%;
    }
}


/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
    li {
        flex-basis: 32%;
    }
}
