/* colors - see style guide for docs 
clearly there is more you could place in variables */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 3.375rem;
    margin-left: 100px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* figure and figcaption styling */


/* display grid here is to get the caption on top of the image */

figure {
    margin: 0 0 0.5rem 0;
    padding: 0;
    border: 5px solid var(--color8);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

figure img {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 100%;
    /* makes sure the image fills the figure - without this, most have a bit of empty space at the bottom */
}

figcaption {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.875rem;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;
}

figcaption a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color1);
}

figcaption a:hover {
    color: var(--color8);
}


/* Looks good until 550-ish, so there is only one breakpoint */

@media (min-width: 550px) {
    #popart ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .colspan2 {
        grid-column: span 2;
    }
    .colspan3 {
        grid-column: span 3;
    }
    .rowspan2 {
        grid-row: span 2;
    }
    /* for some reason, the figures don't always fill their LI container. This keeps them evenly sized */
    figure {
        height: 100%;
    }
}